html {
	background: linear-gradient(184deg, #072a83, #343761, #25263a);
	background-size: 600% 600%;

	-webkit-animation: gradientBG 12s ease infinite;
	-moz-animation: gradientBG 12s ease infinite;
	animation: gradientBG 12s ease infinite;
	height: 100vh;
	max-height: 100vh;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 43% 0%;
	}
	50% {
		background-position: 58% 100%;
	}
	100% {
		background-position: 43% 0%;
	}
}
@-moz-keyframes gradientBG {
	0% {
		background-position: 43% 0%;
	}
	50% {
		background-position: 58% 100%;
	}
	100% {
		background-position: 43% 0%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 43% 0%;
	}
	50% {
		background-position: 58% 100%;
	}
	100% {
		background-position: 43% 0%;
	}
}
textarea {
	border: none;
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	resize: none;
}
