@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");



@-webkit-keyframes gradientBG {
	0% {
		background-position: 43% 0%;
	}

	50% {
		background-position: 58% 100%;
	}

	100% {
		background-position: 43% 0%;
	}
}

@-moz-keyframes gradientBG {
	0% {
		background-position: 43% 0%;
	}

	50% {
		background-position: 58% 100%;
	}

	100% {
		background-position: 43% 0%;
	}
}

@keyframes gradientBG {
	0% {
		background-position: 43% 0%;
	}

	50% {
		background-position: 58% 100%;
	}

	100% {
		background-position: 43% 0%;
	}
}



::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

::-webkit-scrollbar-track {
	border-radius: 6px;
	background-color: #EBEBEB;
}

::-webkit-scrollbar-track:hover {
	background-color: #9AB0C2;
}

::-webkit-scrollbar-track:active {
	background-color: #A6B1C2;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #1B3975;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #6592A3;
}

::-webkit-scrollbar-thumb:active {
	background-color: #2F61A3;
}



.cloud {
	position: relative;
	animation: cloud-float 5s ease-in-out infinite;
}

.cloud:nth-child(2) {
	animation-delay: 1s;
}

.cloud:nth-child(3) {
	animation-delay: 3s;
}

.cloud:nth-child(4) {
	animation-delay: 5s;
}

@keyframes cloud-float {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(0px);
	}
}

.some {
    background-image: linear-gradient(0deg,
            hsl(240deg 16% 86%) 0%,
            hsl(237deg 22% 86%) 13%,
            hsl(234deg 28% 86%) 19%,
            hsl(232deg 35% 85%) 24%,
            hsl(230deg 41% 85%) 28%,
            hsl(227deg 47% 84%) 32%,
            hsl(225deg 53% 84%) 35%,
            hsl(223deg 59% 83%) 39%,
            hsl(222deg 64% 82%) 42%,
            hsl(220deg 70% 82%) 45%,
            hsl(218deg 74% 81%) 48%,
            hsl(216deg 79% 80%) 52%,
            hsl(215deg 82% 78%) 55%,
            hsl(213deg 86% 77%) 58%,
            hsl(211deg 89% 76%) 61%,
            hsl(210deg 92% 74%) 65%,
            hsl(208deg 94% 72%) 68%,
            hsl(207deg 96% 70%) 72%,
            hsl(205deg 97% 68%) 76%,
            hsl(203deg 99% 65%) 81%,
            hsl(201deg 99% 60%) 87%,
            hsl(197deg 100% 50%) 100%);
}